In [3]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import datetime as dt

sns.set()

In [4]:
#import dataset
df = pd.read_csv("../Data/Jewelry_Dataset.csv")

## Data cleaning and EDA

In [5]:
#peeking dataset
df.head(5)

,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1806829201890738522,jewelry.earring,0,561.51,1515915625207851155,Unnamed: 9,red,gold,diamond
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN

In [6]:
df.columns=[
"Order_date",
"Order_ID",
"product_ID",
"SKU_quantity",
"category_ID",
"category_alias",
"brand_ID",
"Price_USD",
"user_ID",
"gender",
"main_color",
"main_metal",
"main_gem"]

In [7]:
df.head(10)

,Order_date,Order_ID,product_ID,SKU_quantity,category_ID,category_alias,brand_ID,Price_USD,user_ID,gender,main_color,main_metal,main_gem
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN
5,2018-12-02 22:09:34 UTC,1925760595336888995,1600021442638905547,1,1.806829e+18,jewelry.earring,0.0,150.55,1.515916e+18,NaN,red,gold,diamond
6,2018-12-02 22:16:20 UTC,1925764002260976330,1835566854106513435,1,1.806829e+18,jewelry.earring,0.0,83.42,1.515916e+18,NaN,white,gold,fianit
7,2018-12-03 07:03:49 UTC,1926029494397698277,1811798112444875309,1,1.806829e+18,jewelry.pendant,2.0,60.27,1.515916e+18,f,red,gold,pearl
8,2018-12-03 09:48:34 UTC,1926112416450478161,1836278824443052965,1,1.806829e+18,jewelry.earring,1.0,217.40,1.515916e+18,NaN,red,gold,diamond
9,2018-12-03 09:48:34 UTC,1926112416450478161,1877637299521454325,1,1.806829e+18,jewelry.ring,1.0,180.71,1.515916e+18,NaN,white,gold,diamond

In [8]:
#check data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_date      95910 non-null  object
 1   Order_ID        95910 non-null  int64
 2   product_ID      95910 non-null  int64
 3   SKU_quantity    95910 non-null  int64
 4   category_ID     90558 non-null  float64
 5   category_alias  85977 non-null  object
 6   brand_ID        91125 non-null  float64
 7   Price_USD       90558 non-null  float64
 8   user_ID         90558 non-null  float64
 9   gender          47743 non-null  object
 10  main_color      88250 non-null  object
 11  main_metal      90448 non-null  object
 12  main_gem        61852 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [15]:
#check for data description
df.describe(include="all")

,Order_date,Order_ID,product_ID,SKU_quantity,category_ID,category_alias,brand_ID,Price_USD,user_ID,gender,main_color,main_metal,main_gem
count,95910,9.591000e+04,9.591000e+04,95910.0,9.055800e+04,85977,9.112500e+04,90558.000000,9.055800e+04,47743,88250,90448,61852
unique,74504,NaN,NaN,NaN,NaN,218,NaN,NaN,NaN,2,5,3,30
top,2020-10-17 12:58:28 UTC,NaN,NaN,NaN,NaN,jewelry.earring,NaN,NaN,NaN,f,red,gold,diamond
freq,26,NaN,NaN,NaN,NaN,29051,NaN,NaN,NaN,47379,69510,89081,29609
mean,NaN,2.485191e+18,1.815970e+18,1.0,1.805947e+18,NaN,8.891036e+16,362.213017,1.512644e+18,NaN,NaN,NaN,NaN
std,NaN,1.934750e+17,2.136814e+17,0.0,2.083954e+16,NaN,3.559651e+17,444.157665,2.374776e+16,NaN,NaN,NaN,NaN
min,NaN,1.924899e+18,1.313551e+18,1.0,1.313678e+18,NaN,0.000000e+00,0.990000,1.313554e+18,NaN,NaN,NaN,NaN
25%,NaN,2.379732e+18,1.515966e+18,1.0,1.806829e+18,NaN,0.000000e+00,145.620000,1.515916e+18,NaN,NaN,NaN,NaN
50%,NaN,2.524282e+18,1.956664e+18,1.0,1.806829e+18,NaN,1.000000e+00,258.770000,1.515916e+18,NaN,NaN,NaN,NaN
75%,NaN,2.644347e+18,1.956664e+18,1.0,1.806829e+18,NaN,1.000000e+00,431.370000,1.515916e+18,NaN,NaN,NaN,NaN
max,NaN,2.719022e+18,2.541962e+18,1.0,1.806829e+18,NaN,1.550613e+18,34448.600000,1.554297e+18,NaN,NaN,NaN,NaN

In [20]:
#convert order date column to datetime
df["Order_date"] = pd.to_datetime(df["Order_date"], errors='coerce')

In [22]:
df.head(10)

,Order_date,Order_ID,product_ID,SKU_quantity,category_ID,category_alias,brand_ID,Price_USD,user_ID,gender,main_color,main_metal,main_gem
0,2018-12-01 17:38:31+00:00,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42+00:00,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02+00:00,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19+00:00,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34+00:00,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN
5,2018-12-02 22:09:34+00:00,1925760595336888995,1600021442638905547,1,1.806829e+18,jewelry.earring,0.0,150.55,1.515916e+18,NaN,red,gold,diamond
6,2018-12-02 22:16:20+00:00,1925764002260976330,1835566854106513435,1,1.806829e+18,jewelry.earring,0.0,83.42,1.515916e+18,NaN,white,gold,fianit
7,2018-12-03 07:03:49+00:00,1926029494397698277,1811798112444875309,1,1.806829e+18,jewelry.pendant,2.0,60.27,1.515916e+18,f,red,gold,pearl
8,2018-12-03 09:48:34+00:00,1926112416450478161,1836278824443052965,1,1.806829e+18,jewelry.earring,1.0,217.40,1.515916e+18,NaN,red,gold,diamond
9,2018-12-03 09:48:34+00:00,1926112416450478161,1877637299521454325,1,1.806829e+18,jewelry.ring,1.0,180.71,1.515916e+18,NaN,white,gold,diamond

In [10]:
#check for duplicate values
duplicates = len(df.loc[df.duplicated()])

In [14]:
print(f"Number of duplicated values is",duplicates)

Number of duplicated values is 2589

In [12]:
#check for missing values
df.isnull().sum()

Order_date            0
Order_ID              0
product_ID            0
SKU_quantity          0
category_ID        5352
category_alias     9933
brand_ID           4785
Price_USD          5352
user_ID            5352
gender            48167
main_color         7660
main_metal         5462
main_gem          34058
dtype: int64

In [24]:
# drop columns not relevant for this course
dropped_columns = ["Order_ID","product_ID","user_ID","Order_date"]

data_with_drop_column = df.drop(columns = dropped_columns)

In [25]:
#peek new data
data_with_drop_column.head(10)

,SKU_quantity,category_ID,category_alias,brand_ID,Price_USD,gender,main_color,main_metal,main_gem
0,1,1.806829e+18,NaN,NaN,212.14,NaN,yellow,gold,NaN
1,1,1.806829e+18,jewelry.pendant,1.0,54.66,f,white,gold,sapphire
2,1,1.806829e+18,jewelry.pendant,0.0,88.90,f,red,gold,diamond
3,1,1.806829e+18,jewelry.necklace,0.0,417.67,NaN,red,gold,amethyst
4,1,1.806829e+18,jewelry.earring,1.0,102.27,NaN,red,gold,NaN
5,1,1.806829e+18,jewelry.earring,0.0,150.55,NaN,red,gold,diamond
6,1,1.806829e+18,jewelry.earring,0.0,83.42,NaN,white,gold,fianit
7,1,1.806829e+18,jewelry.pendant,2.0,60.27,f,red,gold,pearl
8,1,1.806829e+18,jewelry.earring,1.0,217.40,NaN,red,gold,diamond
9,1,1.806829e+18,jewelry.ring,1.0,180.71,NaN,white,gold,diamond

In [27]:
df.nunique()

Order_date        74504
Order_ID          74759
product_ID         9613
SKU_quantity          1
category_ID          25
category_alias      218
brand_ID           2537
Price_USD          3166
user_ID           31079
gender                2
main_color            5
main_metal            3
main_gem             30
dtype: int64

In [29]:
#missing values
data_with_drop_column.isna().sum()

SKU_quantity          0
category_ID        5352
category_alias     9933
brand_ID           4785
Price_USD          5352
gender            48167
main_color         7660
main_metal         5462
main_gem          34058
dtype: int64

In [38]:
#clean various columns
checked_columns = ["category_ID", "category_alias", "brand_ID", "gender", "main_color", "main_metal","main_gem"]

for col in checked_columns:
    print(f"\nTop values for {col} ")
    print(data_with_drop_column[col].value_counts(dropna=False).head(20))

Top values for category_ID
category_ID
1.806829e+18    29000
1.806829e+18    28286
1.806829e+18    13052
1.806829e+18     9568
1.806829e+18     6185
NaN              5352
1.806829e+18     2356
1.806829e+18     1288
1.806829e+18      321
1.806829e+18      170
1.806829e+18      130
1.313678e+18       41
1.313678e+18       37
1.313678e+18       27
1.806829e+18       22
1.313678e+18       14
1.806829e+18       12
1.313678e+18        9
1.313678e+18        9
1.313678e+18        9
Name: count, dtype: int64

Top values for category_alias
category_alias
jewelry.earring       29051
jewelry.ring          28300
jewelry.pendant       13088
NaN                    9933
jewelry.bracelet       6188
0.00                   4392
jewelry.necklace       2361
jewelry.brooch         1288
jewelry.souvenir        170
electronics.clocks      167
40.82                    54
231.51                   45
261.64                   43
323.60                   33
154.66                   32
338.36                   30
236.58                   29
131.92                   24
863.67                   23
644.66                   21
Name: count, dtype: int64

Top values for brand_ID
brand_ID
0.000000e+00    44599
1.000000e+00    32022
2.000000e+00     8966
NaN              4785
1.515916e+18      147
1.515916e+18      104
1.515916e+18       74
4.000000e+00       65
3.000000e+00       58
6.000000e+00       56
1.515916e+18       37
1.515916e+18       34
1.515916e+18       34
1.515916e+18       31
1.515916e+18       30
1.515916e+18       30
1.515916e+18       30
1.515916e+18       30
1.515916e+18       29
1.515916e+18       28
Name: count, dtype: int64

Top values for gender
gender
NaN    48167
f      47379
m        364
Name: count, dtype: int64

Top values for main_color
main_color
red              69510
white            15286
NaN               7660
yellow            3388
unknown-color       64
black                2
Name: count, dtype: int64

Top values for main_metal
main_metal
gold        89081
NaN          5462
silver       1365
platinum        2
Name: count, dtype: int64

Top values for main_gem
main_gem
NaN             34058
diamond         29609
fianit          12051
topaz            6318
pearl            3632
garnet           2704
sapphire         1866
amethyst         1632
mix              1479
emerald           833
quartz            540
amber             228
spinel            156
ruby              151
quartz_smoky       93
nanocrystal        88
nacre              78
chrysolite         74
citrine            51
tourmaline         50
Name: count, dtype: int64