In [1]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import datetime as dt

sns.set()

In [3]:
#import dataset
df = pd.read_csv("../Data/Jewelry_Dataset.csv")

In [4]:
#peeking dataset
df.head(5)

,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1806829201890738522,jewelry.earring,0,561.51,1515915625207851155,Unnamed: 9,red,gold,diamond
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN

In [6]:
df.columns=[
"Order_date",
"Order_ID",
"product_ID",
"SKU_quantity",
"category_ID",
"category_alias",
"brand_ID",
"Price_USD",
"user_ID",
"gender",
"main_color",
"main_metal",
"main_gem"]

In [7]:
df.head(10)

,Order_date,Order_ID,product_ID,SKU_quantity,category_ID,category_alias,brand_ID,Price_USD,user_ID,gender,main_color,main_metal,main_gem
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN
5,2018-12-02 22:09:34 UTC,1925760595336888995,1600021442638905547,1,1.806829e+18,jewelry.earring,0.0,150.55,1.515916e+18,NaN,red,gold,diamond
6,2018-12-02 22:16:20 UTC,1925764002260976330,1835566854106513435,1,1.806829e+18,jewelry.earring,0.0,83.42,1.515916e+18,NaN,white,gold,fianit
7,2018-12-03 07:03:49 UTC,1926029494397698277,1811798112444875309,1,1.806829e+18,jewelry.pendant,2.0,60.27,1.515916e+18,f,red,gold,pearl
8,2018-12-03 09:48:34 UTC,1926112416450478161,1836278824443052965,1,1.806829e+18,jewelry.earring,1.0,217.40,1.515916e+18,NaN,red,gold,diamond
9,2018-12-03 09:48:34 UTC,1926112416450478161,1877637299521454325,1,1.806829e+18,jewelry.ring,1.0,180.71,1.515916e+18,NaN,white,gold,diamond

In [8]:
#check data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_date      95910 non-null  object
 1   Order_ID        95910 non-null  int64
 2   product_ID      95910 non-null  int64
 3   SKU_quantity    95910 non-null  int64
 4   category_ID     90558 non-null  float64
 5   category_alias  85977 non-null  object
 6   brand_ID        91125 non-null  float64
 7   Price_USD       90558 non-null  float64
 8   user_ID         90558 non-null  float64
 9   gender          47743 non-null  object
 10  main_color      88250 non-null  object
 11  main_metal      90448 non-null  object
 12  main_gem        61852 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [11]:
#check for price distribution
df["Price_USD"].skew()

18.95906072625981

In [ ]:
#check for data description

In [12]:
#check for missing values
df.isnull().sum()

Order_date            0
Order_ID              0
product_ID            0
SKU_quantity          0
category_ID        5352
category_alias     9933
brand_ID           4785
Price_USD          5352
user_ID            5352
gender            48167
main_color         7660
main_metal         5462
main_gem          34058
dtype: int64

In [15]:
#checking for the shape (number of entries) of the dataset
df.shape

(95910, 13)